/* Main Script*/

main {
    margin: 10px auto; /* 10px margin at the top and bottom, auto for centering horizontally */
    padding: 20px;
    max-width: 800px;
    background-color: transparent;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}



ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin: 10px 0;
    font-size: 17px;
}

ul li a {
    color: #007BFF;
    text-decoration: none;
    display: flex;
    align-items: center;
    transition: background-color 0.3s ease;
    padding: 10px;
    border-radius: 5px;
}

ul li a:hover {
    background-color: #f0f0f0;
}

.post-link span {
    font-size: 15px;
    color: #333;
}

/* Style for the list items (apply effects only to the link) */
/* Glowing effect */
#postsList li {
    color: #fff;
    text-shadow: 0 0 5px #f0f, 0 0 10px #f0f, 0 0 20px #f0f;
    animation: glow 1.5s infinite alternate;
}

@keyframes glow {
    0% {
        text-shadow: 0 0 5px #f0f, 0 0 10px #f0f, 0 0 20px #f0f;
    }
    100% {
        text-shadow: 0 0 10px #f0f, 0 0 20px #f0f, 0 0 30px #f0f;
    }
}


.post-link {
    display: inline-block;
    color: blue;
    text-decoration: none;
    animation: pulseEffect 1.5s infinite;
}


/* Style for the arrow symbol (stable, no effects) */
/* Arrow symbol with color-changing effect */
.arrow-symbol {
    font-weight: bold;
    margin-right: 5px;
    animation: colorChangeLoop 2s infinite;
}

/* Keyframes for color change animation */
@keyframes colorChangeLoop {
    0% {
        color: red;
    }
    20% {
        color: blue;
    }
    40% {
        color: green;
    }
    60% {
        color: pink;
    }
    80% {
        color: yellow;
    }
    100% {
        color: red;
    }
}



/* Basic tutorial model styles */
.tutorial-model {
    display: none; /* Hidden by default */
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.tutorial-model-content {
    background-color: white;
    padding: 5px;
    border-radius: 5px;
    position: relative;
}

.close-tutorial-model {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 35px;
    cursor: pointer;
    color: red;
}
