.highlight {
    color: #ff0066; /* Color for the "streaming" text */
}


.url-button {
    border: 2px solid #ff0066; /* Light gray border */
    color: #ff0066; /* Text color */
    padding: 10px 20px;
    font-size: 1em;
    border-radius: 5px;
    background-color: transparent;
    text-transform: uppercase;
}


.url-link {
    text-decoration: none; /* Removes underline from link */
}

main {
    padding: 20px;
    max-width: 800px;
    margin: auto;
    background-color: transparent;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin: 10px 0;
    font-size: 17px;
}

ul li a {
    color: #007BFF;
    text-decoration: none;
    display: flex;
    align-items: center;
    transition: background-color 0.3s ease;
    padding: 10px;
    border-radius: 5px;
}

ul li a:hover {
    background-color: #f0f0f0;
}

.post-link span {
    font-size: 15px;
    color: #333;
}

/* Movie and Series Title*/

.heading-title {
    font-size: 16px; /* Customize the font size */
    color: #333; /* Change the text color */
    font-weight: bold; /* Make the text bold */
    margin-bottom: 15px; /* Space below the heading */
    text-transform: uppercase; /* Transform text to uppercase */
}

/* Search bar */

#searchBar {
            margin-bottom: 20px;
            padding: 10px;
            width: 100%;
            box-sizing: border-box;
        }
        .container {
            margin: 10px 0;
        }
        .hidden {
            display: none;
        }

        .get-password-btn {
            background-color: red;
            color: white;
            border: none;
            padding: 10px 20px;
            font-size: 16px;
            cursor: pointer;
        }
   
        .center {
            display: flex;
            justify-content: center;
            align-items: center;
        }

/* Only Title link */

.Title-Link {
    font-size: 17px; /* Adjust the size as needed */
    text-decoration: none; /* Removes the underline */
    color: blue;
    text-transform: uppercase;
}

.Title-Link:hover {
    color: red;
    text-decoration: none; /* Keeps the underline removed on hover */
}

   
